# Whisper Model Configuration
# WHISPER_MODEL=tiny
# WHISPER_SERVER_USE=false
# WHISPER_SERVER=http://localhost:8007

# Hardware Selection (optional, defaults to cuda if available, else cpu)
# WHISPER_DEVICE=cpu

#Redis Configuration
# REDIS_HOST=localhost
# REDIS_PORT=6379
# REDIS_DB=0


# Transcription Server Configuration
# TRANSCRIBE_SERVER_URL=http://localhost:5040



#django settings
#DJANGO_SECRET_KEY=your-secret-key-here

