#OS
.DS_Store

# Python
__pycache__/
*.py[cod]
venv/
.venv/
.env*

models/*.pt
models/*.bin
flask/lang_map.yaml

app/db.sqlite3
app/staticfiles/
app/static/css/
app/static/js/
app/static/fonts/
app/static/img/
app/static/favicon.ico
django/db.sqlite3
django/static/*app/static/*.html
