FLASK_HOST=0.0.0.0
FLASK_PORT=5040
FLASK_DEBUG=false

CORS_ALLOWED_ORIGINS=http://localhost:5040,http://127.0.0.1:5040,https://localhost:5040,https://127.0.0.1:5040,https://172.22.171.58:5040

SESSION_TTL_SECONDS=7200
TRANSCRIBE_AUTOSTART_WORKER=true

# DATABASE_URL=sqlite:///susi.db

# Rate-limiting storage
# REDIS_URL=redis://localhost:6379/0

JWT_SECRET_KEY=REPLACE_WITH_OUTPUT_OF_openssl_rand_-hex_32
#JWT_COOKIE_SAMESITE=Lax
#JWT_COOKIE_SECURE=false
# JWT_COOKIE_CSRF_PROTECT=true

#Let's Encrypt or, DuckDNS
DOMAIN_NAME=duck_dns_domain_name
DUCKDNS_TOKEN=duck_dns_domain_token
